# opBNB Mainnet Configuration
NETWORK=opbnbMainnet
USDT_ADDRESS=0x9e5AAC1Ba1a2e6aEd6b32689DFcF62A509Ca96f3
MOCK_USDT_ADDRESS=0x9e5AAC1Ba1a2e6aEd6b32689DFcF62A509Ca96f3

# Copy from testnet .env and update:
# PRIVATE_KEY=
# CREATOR_WALLET=
# PLACEMENT_SIGNER_ADDRESS=
